@import "tailwindcss";

:root.dark {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --surface: #171717;
  --card: #2a2a2a;
  --background-menu: #373737;
  --nav: #2d2d2d;
  --theme-selector: #393939;
  --selected-theme: #2f2f2f;
  --thin: #4a5565;
}

:root.light {
  --background: #fff;
  --foreground: black;
  --surface: #fff;
  --card: #fff;
  --background-menu: #ddd;
  --nav: white;
  --theme-selector: #e5e7eb;
  --selected-theme: white;
  --thin: #d1d5dc;
}

@theme {
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-thin: var(--thin);
  --color-card: var(--card);
  --color-background-menu: var(--background-menu);
  --color-nav: var(--nav);
  --color-theme-selector: var(--theme-selector);
  --color-selected-theme: var(--selected-theme);
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

td,
th {
  padding: 6px 12px;
}
