@import "tailwindcss";

:root {
  --background: #1f1f1f;
  --foreground: white;
  --surface: #171717;
  --card: #333;
}

@theme {
  --color-surface: var(--surface);
  --color-thin: #4a5565;
  --color-card: var(--card);
  --color-gradient-var: linear-gradient(
    to right,
    #dc2626,
    #fca5a5,
    #93c5fd,
    #2563eb
  );
}

body {
  background: var(--background);
  color: var(--foreground);
}

td,
th {
  padding: 6px 12px;
}
