@import "tailwindcss";

:root.dark {
  --background: rgb(26, 26, 26);
  --foreground: #ffffff;
  --surface: #171717;
  --card: #2a2a2a;
  --background-menu: #373737;
  --nav: #2d2d2d;
  --theme-selector: #393939;
  --selected-theme: #2f2f2f;
  --thin: #4a5565;
  --scrollbar-thumb: rgba(255, 255, 255, 0.2);
  --scrollbar-thumb-hover: rgba(255, 255, 255, 0.35);
}

:root.light {
  --background: #fff;
  --foreground: black;
  --surface: #fff;
  --card: #fff;
  --background-menu: #ddd;
  --nav: white;
  --theme-selector: #e5e7eb;
  --selected-theme: white;
  --thin: #d1d5dc;
  --scrollbar-thumb: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover: rgba(0, 0, 0, 0.35);
}

@theme {
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-thin: var(--thin);
  --color-card: var(--card);
  --color-background-menu: var(--background-menu);
  --color-nav: var(--nav);
  --color-theme-selector: var(--theme-selector);
  --color-selected-theme: var(--selected-theme);
}

:-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

* {
  scrollbar-shadow-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--surface) inset !important;
  -webkit-text-fill-color: var(--foreground) !important;
  caret-color: var(--foreground) !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

td,
th {
  padding: 6px 12px;
}
